body{
	background-color: gainsboro;
	color:#555;
	font-family:Arial, Halvetica;
	font-size: 16px;
	line-height: 1.6em;
	margin: 0;
}
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

.positive{
	background-color: green;
}

.negative{
	background-color: rgb(255, 0, 0);
}

.none{
	width: 100%;
}

#main-header{
	background-color: black;
	color: gainsboro;
	padding-left: 30px;
}

#navbar{
	background-color: dimgray;
	color: lightgray;
}

#navbar ul{
	padding: 0;
	list-style: none;
}

#navbar li {
	display: inline;
	padding-left: 30px;
}
#navbar a{
	color: lightgray;
	text-decoration: none;
	padding-right: 15px;
	font-size: 18px
}
#showcase {
	background-image: url(gates/panorama3.jpg);
	background-position: center;
	min-height: 300px;
	margin-bottom: 30px;
	text-align: center;
	background-repeat: no-repeat;
}
#showcase h1{
	color: black;
	font-size: 50px;
	line-height: 1.1em;
	padding-top: 30px;
}
#showcase p{
	color: white;
	font-size: 20px;
}

#main{
	float: left;
	width: 50%;
	padding: 0 30px;
	box-sizing: border-box;
}

#sidebar{
	float: right;
	width: 50%;
	padding-top: 30px;
	box-sizing: border-box;
}

#extra{
	float: left;
	width: 50%;
	padding: 0 30px;
	box-sizing: border-box;
}
#picture{
	float: right;
	width: 50%;
	padding: 10 0 0 0px;
}

#main-footer{
	background-color: dimgray;
	color: lightgray;
	text-align: center;
	padding: 5px;
	margin-top: 100px;
}

#counter{
	border: 5px solid black ;
	border-radius: 10px;
	margin: 40px;
	padding-top: 15px;
	width: 400px;
	height: 200px;
	background-color: dimgray;
	text-align: center;
	color: lightgray;
	float: left;
}

#number{
	height: 25px;
	width: 25%;
	border: 1px solid white ;
	margin: 0px auto 25px auto ;
	text-align: center;

}

#counterh1{
	margin-bottom: 25px;
}

#increment{
	height: 25px;
	width: 75px;
	border-radius: 5px;
	margin-left: 5px;
}

#decrement{
	height: 25px;
	width: 75px;
	border-radius: 5px;
	margin-right: 5px;
}

#c.text{
	float: right;
	width: 50%;
	padding-left: 50px;
}

#counterh1text{
	padding: 20px;

}

#myDIV {
	width: 100%;
	padding: 50px 0;
	text-align: center;
	background-color: rgb(167, 167, 167);
	margin-top: 10px;
	border-radius: 10px;
}
#submitbtn{
	background: dimgray;
	width: 10%;
	border-radius: 5px;
	color: white;
}